# LTspice
/documentation/*.log
/documentation/*.raw

# STM32CubeIDE
/firmware/.metadata/
/firmware/.settings/
/firmware/[Rr]elease/
/firmware/[Dd]ebug/
/firmware/*.launch

# KiCad
/hardware/*-backups/
/hardware/*.kicad_prl
/hardware/fp-info-cache
/hardware/\#auto_saved_files\#

# Interactive HTML BOM
/hardware/bom/

# Fabrication Toolkit
/hardware/production/
firmware/build/**
firmware/.vscode/**
firmware/components/hagl/.gitignore
.vscode/**
.DS_Store
firmware/sdkconfig.old
firmware/components/fonts
firmware/components/fonts
firmware/.clangd
firmware/sdkconfig 2.old
firmware/sdkconfig.old
firmware/sdkconfig.old
firmware/TODO
firmware/sdkconfig.old
**/sdkconfig.old
firmware/managed_components/espressif__mdns/tests/host_test/CMakeLists.txt
firmware/managed_components/espressif__mdns/tests/host_test/dnsfixture.py
firmware/managed_components/espressif__mdns/tests/host_test/pytest_mdns.py
firmware/managed_components/espressif__mdns/tests/host_test/README.md
firmware/managed_components/espressif__mdns/tests/host_test/sdkconfig.ci.app
firmware/managed_components/espressif__mdns/tests/host_test/sdkconfig.ci.console
firmware/managed_components/espressif__mdns/tests/host_test/sdkconfig.ci.target
firmware/managed_components/espressif__mdns/tests/host_test/sdkconfig.defaults
firmware/managed_components/espressif__mdns/tests/host_test/components/esp_netif_linux/CMakeLists.txt
firmware/managed_components/espressif__mdns/tests/host_test/components/esp_netif_linux/esp_netif_linux.c
firmware/managed_components/espressif__mdns/tests/host_test/components/esp_netif_linux/Kconfig
firmware/managed_components/espressif__mdns/tests/host_test/components/esp_netif_linux/include/esp_wifi_types.h
firmware/managed_components/espressif__mdns/tests/host_test/components/esp_netif_linux/include/machine/endian.h
firmware/managed_components/espressif__mdns/tests/host_test/main/CMakeLists.txt
firmware/managed_components/espressif__mdns/tests/host_test/main/idf_component.yml
firmware/managed_components/espressif__mdns/tests/host_test/main/Kconfig.projbuild
firmware/managed_components/espressif__mdns/tests/host_test/main/main.c
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/CMakeLists.txt
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/esp_attr.h
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/esp_netif_mock.c
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/esp32_mock.c
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/esp32_mock.h
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/input_packets.txt
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/Makefile
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/mdns_di.h
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/mdns_mock.h
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/README.md
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/sdkconfig.h
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/test.c
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/file2.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/minif_4a_txt.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/minif_aaaa.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/minif_any.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/minif_disc.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/minif_ptr.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/minif_query.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/minif_query2.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/sub_fritz_m.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/telnet_ptr.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-14.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-15.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-16.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-28.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-29.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-31.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-53.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-56.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-63.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-83.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-88.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-89.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-95.bin
firmware/managed_components/espressif__mdns/tests/test_afl_fuzz_host/in/test-96.bin
firmware/managed_components/espressif__mdns/tests/test_apps/CMakeLists.txt
firmware/managed_components/espressif__mdns/tests/test_apps/pytest_mdns_app.py
firmware/managed_components/espressif__mdns/tests/test_apps/README.md
firmware/managed_components/espressif__mdns/tests/test_apps/sdkconfig.ci
firmware/managed_components/espressif__mdns/tests/test_apps/sdkconfig.defaults
firmware/managed_components/espressif__mdns/tests/test_apps/main/CMakeLists.txt
firmware/managed_components/espressif__mdns/tests/test_apps/main/idf_component.yml
firmware/managed_components/espressif__mdns/tests/test_apps/main/Kconfig.projbuild
firmware/managed_components/espressif__mdns/tests/test_apps/main/main.c
firmware/managed_components/espressif__mdns/tests/test_apps/main/mdns_test.c
firmware/managed_components/espressif__mdns/tests/unit_test/CMakeLists.txt
firmware/managed_components/espressif__mdns/tests/unit_test/pytest_app_mdns.py
firmware/managed_components/espressif__mdns/tests/unit_test/sdkconfig.ci
firmware/managed_components/espressif__mdns/tests/unit_test/sdkconfig.defaults
firmware/managed_components/espressif__mdns/tests/unit_test/main/CMakeLists.txt
firmware/managed_components/espressif__mdns/tests/unit_test/main/test_mdns.c
firmware/managed_components/espressif__mdns/examples/query_advertise/CMakeLists.txt
firmware/managed_components/espressif__mdns/examples/query_advertise/pytest_mdns.py
firmware/managed_components/espressif__mdns/examples/query_advertise/README.md
firmware/managed_components/espressif__mdns/examples/query_advertise/sdkconfig.ci.eth_custom_netif
firmware/managed_components/espressif__mdns/examples/query_advertise/sdkconfig.ci.eth_def
firmware/managed_components/espressif__mdns/examples/query_advertise/sdkconfig.ci.eth_no_ipv4
firmware/managed_components/espressif__mdns/examples/query_advertise/sdkconfig.ci.eth_no_ipv6
firmware/managed_components/espressif__mdns/examples/query_advertise/sdkconfig.ci.eth_socket
firmware/managed_components/espressif__mdns/examples/query_advertise/main/CMakeLists.txt
firmware/managed_components/espressif__mdns/examples/query_advertise/main/idf_component.yml
firmware/managed_components/espressif__mdns/examples/query_advertise/main/Kconfig.projbuild
firmware/managed_components/espressif__mdns/examples/query_advertise/main/mdns_example_main.c
